.idea/
.vscode/
.classpath
.project
.settings/

target/*
!target/classes/
!target/classes/**
*.log

.env
.env.*
!.env.example

.doc_review/
.codex_tmp/
.agents/
.codex_tmp/
.github


sample-data/
surefire-reports/
